<?xml version="1.0" encoding="utf-8"?>
<Media Key="ecc1e2b6-ac2e-4ef7-a087-3cb13cfe030b" Alias="api.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/apijpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-20T14:13:52</CreateDate>
    <NodeName Default="api.jpg" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/heuiowsh/api.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>