<?xml version="1.0" encoding="utf-8"?>
<Media Key="8d425981-44fa-49e7-8107-5e373fc0c9a8" Alias="apisystem_logo.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/apisystem_logojpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-20T14:13:53</CreateDate>
    <NodeName Default="apisystem_logo.jpg" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/b0jbio2t/apisystem_logo.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>