<?xml version="1.0" encoding="utf-8"?>
<Media Key="d3baf7af-0365-4882-99a2-91e17a8dab21" Alias="apisystem_logo-BzDa6fgJ.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/apisystem_logoBzDa6fgJjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-19T17:10:04</CreateDate>
    <NodeName Default="apisystem_logo-BzDa6fgJ.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ea4pyzim/apisystem_logo-bzda6fgj.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>