<?xml version="1.0" encoding="utf-8"?>
<Media Key="c559911e-7730-43ac-956c-e9c3b4c2b16a" Alias="bank.jfif" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/bankjfif</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-20T14:11:29</CreateDate>
    <NodeName Default="bank.jfif" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/sfnb420z/bank.jfif"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>