<?xml version="1.0" encoding="utf-8"?>
<Media Key="f7072999-19ac-4bff-b5e0-6814aa91cd36" Alias="boschsiemens.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/boschsiemensjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-20T14:11:29</CreateDate>
    <NodeName Default="boschsiemens.jpg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/c1rfcqof/boschsiemens.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>