<?xml version="1.0" encoding="utf-8"?>
<Media Key="dba04e8e-6890-4bcf-931d-aa8231f17706" Alias="chas.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/chasjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-20T14:11:29</CreateDate>
    <NodeName Default="chas.jpg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/agcom1pz/chas.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>