<?xml version="1.0" encoding="utf-8"?>
<Media Key="82cb55bf-49c7-4fe1-9b88-53c1bf82a293" Alias="dalarna.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/dalarnajpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-20T14:13:52</CreateDate>
    <NodeName Default="dalarna.jpg" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/gcpj0nfo/dalarna.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>