<?xml version="1.0" encoding="utf-8"?>
<Media Key="28be6754-5b94-4e98-9241-431378edc3c1" Alias="dennis.gif" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/dennisgif</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-20T14:13:52</CreateDate>
    <NodeName Default="dennis.gif" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/1owprhx3/dennis.gif"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>