<?xml version="1.0" encoding="utf-8"?>
<Media Key="d389bca5-b545-4cfc-89e1-3191e1da8dcc" Alias="fantasychass.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/fantasychassjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-20T14:13:54</CreateDate>
    <NodeName Default="fantasychass.jpg" />
    <SortOrder>36</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/fj1m4zjm/fantasychass.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>