<?xml version="1.0" encoding="utf-8"?>
<Media Key="f5857dfe-20f1-49b7-b34a-b472c00b0ac2" Alias="filip.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/filipjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-20T14:11:29</CreateDate>
    <NodeName Default="filip.jpg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/og1ngq2y/filip.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>