<?xml version="1.0" encoding="utf-8"?>
<Media Key="dac788c3-090a-4ec2-89f2-894954d6801a" Alias="filip-about.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/filipAboutjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-20T14:11:29</CreateDate>
    <NodeName Default="filip-about.jpg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/jrbic1dd/filip-about.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>