<?xml version="1.0" encoding="utf-8"?>
<Media Key="38eea606-5ee0-49db-a371-351ce471be38" Alias="fnlogo.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/fnlogojpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-20T14:13:52</CreateDate>
    <NodeName Default="fnlogo.jpg" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/rfwkrduj/fnlogo.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>