<?xml version="1.0" encoding="utf-8"?>
<Media Key="0508acf8-f89c-4497-955d-86a1632becbb" Alias="git.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/gitjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-20T14:11:29</CreateDate>
    <NodeName Default="git.jpg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/o3te3m5v/git.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>