<?xml version="1.0" encoding="utf-8"?>
<Media Key="0e6cded0-0889-40ee-89ff-97573f85f8c7" Alias="inet.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/inetjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-20T14:11:29</CreateDate>
    <NodeName Default="inet.jpg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/l2kcvoha/inet.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>