<?xml version="1.0" encoding="utf-8"?>
<Media Key="e18f84a3-47e5-44ac-8297-8517a1d8ddf9" Alias="internchina.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/internchinajpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-20T14:11:29</CreateDate>
    <NodeName Default="internchina.jpg" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/frhmsv2m/internchina.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>