<?xml version="1.0" encoding="utf-8"?>
<Media Key="cce778a5-28d2-4217-aa57-4120aaa59cda" Alias="productsync-_FhknkO4.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/productsync_FhknkO4png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-19T16:30:05</CreateDate>
    <NodeName Default="productsync-_FhknkO4.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/fkzkc4v1/productsync-_fhknko4.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>