<?xml version="1.0" encoding="utf-8"?>
<Media Key="ddb190b2-9f32-4de6-b66c-e33221884a7c" Alias="siemens-sharepoint-support.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/siemensSharepointSupportpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-20T14:11:29</CreateDate>
    <NodeName Default="siemens-sharepoint-support.png" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/hvnpo001/siemens-sharepoint-support.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>