<?xml version="1.0" encoding="utf-8"?>
<Media Key="a4339410-0245-4868-806a-25c7a1e9e4c2" Alias="siemens.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/siemensjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-20T14:11:29</CreateDate>
    <NodeName Default="siemens.jpg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/t3phkerm/siemens.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>