<?xml version="1.0" encoding="utf-8"?>
<Media Key="6400af3c-7b3b-41e7-a12b-9be4cf2d0f80" Alias="umbraco-dark.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/umbracoDarkpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-21T21:33:26</CreateDate>
    <NodeName Default="umbraco-dark.png" />
    <SortOrder>44</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/wnsfnuss/umbraco-dark.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>