<?xml version="1.0" encoding="utf-8"?>
<Content Key="c3dab8ba-54d3-4b26-8cc4-4ca6267f43d8" Alias="About" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/About</Path>
    <Trashed>false</Trashed>
    <ContentType>about</ContentType>
    <CreateDate>2025-08-19T17:07:27</CreateDate>
    <NodeName Default="About" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>