<?xml version="1.0" encoding="utf-8"?>
<Content Key="30b23099-c4f1-461e-9193-dcf53a04df01" Alias="About Me" Level="2">
  <Info>
    <Parent Key="c3dab8ba-54d3-4b26-8cc4-4ca6267f43d8">About</Parent>
    <Path>/About/AboutMe</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutSection</ContentType>
    <CreateDate>2025-08-19T17:08:10</CreateDate>
    <NodeName Default="About Me" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <aboutDescription>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EHello there! My name is Filip and I am a full-stack .NET developer, passionate about technology and design. Every day I am eagerly gaining new knowledge and insights in this fast and versatile world of software development. \u003C/p\u003E\u003Cp\u003EI am advancing from a successful career in Supply Chain Management, most recently at Siemens. \u003C/p\u003E\u003Cp\u003ENow I am looking forward to channel my creativity through crafting functional, beautiful and high performance software for engaging experiences. \u003C/p\u003E\u003Cp\u003EWhen I manage to escape my computer\u0027s grasp, I enjoy working out, HIFI, photography, and exploring nature.\u003C/p\u003E"
}]]></Value>
    </aboutDescription>
    <aboutTitle>
      <Value><![CDATA[A Glimpse into Myself]]></Value>
    </aboutTitle>
    <image>
      <Value><![CDATA[[
  {
    "key": "5ef3fbb7-d1d9-42e6-86ea-06a423664ad2",
    "mediaKey": "dac788c3-090a-4ec2-89f2-894954d6801a",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <technologies>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "373eae76-6815-45ad-b749-f6d1922cb76a",
      "key": "19f7fb6c-07d8-4e37-a1ba-f14f5b398eb2",
      "udi": null,
      "values": [
        {
          "alias": "technologyName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "HTML"
        },
        {
          "alias": "deviconName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "devicon-html5-plain"
        },
        {
          "alias": "altText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "HTML-icon"
        },
        {
          "alias": "backendOrFrontend",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Frontend"
          ]
        }
      ]
    },
    {
      "contentTypeKey": "373eae76-6815-45ad-b749-f6d1922cb76a",
      "key": "b26a46f5-ebf0-4cb4-820f-9287ddce13c4",
      "udi": null,
      "values": [
        {
          "alias": "technologyName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "CSS"
        },
        {
          "alias": "deviconName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "devicon-css3-plain"
        },
        {
          "alias": "altText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "CSS-icon"
        },
        {
          "alias": "backendOrFrontend",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Frontend"
          ]
        }
      ]
    },
    {
      "contentTypeKey": "373eae76-6815-45ad-b749-f6d1922cb76a",
      "key": "48a6a04d-bcfd-4357-a9e7-efa809ef79de",
      "udi": null,
      "values": [
        {
          "alias": "technologyName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "JavaScript"
        },
        {
          "alias": "altText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "JavaScript-icon"
        },
        {
          "alias": "deviconName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "devicon-javascript-plain"
        },
        {
          "alias": "backendOrFrontend",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Frontend"
          ]
        }
      ]
    },
    {
      "contentTypeKey": "373eae76-6815-45ad-b749-f6d1922cb76a",
      "key": "5db6f8dd-bd42-490a-8090-139b65965dc1",
      "udi": null,
      "values": [
        {
          "alias": "backendOrFrontend",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Frontend"
          ]
        },
        {
          "alias": "deviconName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "devicon-typescript-plain"
        },
        {
          "alias": "altText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "TypeScript-icon"
        },
        {
          "alias": "technologyName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "TypeScript"
        }
      ]
    },
    {
      "contentTypeKey": "373eae76-6815-45ad-b749-f6d1922cb76a",
      "key": "77b15e7d-afe3-4aaf-8622-847209ea38c0",
      "udi": null,
      "values": [
        {
          "alias": "backendOrFrontend",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Frontend"
          ]
        },
        {
          "alias": "deviconName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "devicon-react-original"
        },
        {
          "alias": "altText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "React-icon"
        },
        {
          "alias": "technologyName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "React"
        }
      ]
    },
    {
      "contentTypeKey": "373eae76-6815-45ad-b749-f6d1922cb76a",
      "key": "6e27da99-6018-423a-8b92-c4b01a9348b5",
      "udi": null,
      "values": [
        {
          "alias": "backendOrFrontend",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Frontend"
          ]
        },
        {
          "alias": "technologyName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Vite"
        },
        {
          "alias": "altText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "ViteJS-icon"
        },
        {
          "alias": "deviconName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "devicon-vitejs-plain"
        }
      ]
    },
    {
      "contentTypeKey": "373eae76-6815-45ad-b749-f6d1922cb76a",
      "key": "b30c3b61-ee99-4cf8-b6b5-d7eb256d8b16",
      "udi": null,
      "values": [
        {
          "alias": "backendOrFrontend",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Frontend"
          ]
        },
        {
          "alias": "deviconName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "devicon-figma-plain"
        },
        {
          "alias": "altText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figma-icon"
        },
        {
          "alias": "technologyName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figma"
        }
      ]
    },
    {
      "contentTypeKey": "373eae76-6815-45ad-b749-f6d1922cb76a",
      "key": "32ed86ba-9fc0-4c60-91a8-585896554446",
      "udi": null,
      "values": [
        {
          "alias": "backendOrFrontend",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Backend"
          ]
        },
        {
          "alias": "altText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Csharp-icon"
        },
        {
          "alias": "deviconName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "devicon-csharp-plain"
        },
        {
          "alias": "technologyName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "C#"
        }
      ]
    },
    {
      "contentTypeKey": "373eae76-6815-45ad-b749-f6d1922cb76a",
      "key": "b6bb6c8d-781d-4b83-ae3f-075f290a3382",
      "udi": null,
      "values": [
        {
          "alias": "backendOrFrontend",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Backend"
          ]
        },
        {
          "alias": "technologyName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ".NET"
        },
        {
          "alias": "deviconName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "devicon-dot-net-plain-wordmark"
        },
        {
          "alias": "altText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dotnet-icon"
        }
      ]
    },
    {
      "contentTypeKey": "373eae76-6815-45ad-b749-f6d1922cb76a",
      "key": "55d54ebf-a25c-44de-8e6e-04bb75f810d9",
      "udi": null,
      "values": [
        {
          "alias": "backendOrFrontend",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Backend"
          ]
        },
        {
          "alias": "deviconName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "devicon-microsoftsqlserver-plain"
        },
        {
          "alias": "altText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "MicrosoftSqlServer-icon"
        },
        {
          "alias": "technologyName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "SQL Server"
        }
      ]
    },
    {
      "contentTypeKey": "373eae76-6815-45ad-b749-f6d1922cb76a",
      "key": "faecb778-e2c2-4521-b98a-e95ce6daa866",
      "udi": null,
      "values": [
        {
          "alias": "backendOrFrontend",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Backend"
          ]
        },
        {
          "alias": "altText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Azure-icon"
        },
        {
          "alias": "deviconName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "devicon-azure-plain"
        },
        {
          "alias": "technologyName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Azure"
        }
      ]
    },
    {
      "contentTypeKey": "373eae76-6815-45ad-b749-f6d1922cb76a",
      "key": "fa4b852d-af75-4f90-91fa-6a8c5f5bc553",
      "udi": null,
      "values": [
        {
          "alias": "backendOrFrontend",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Backend"
          ]
        },
        {
          "alias": "deviconName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "devicon-azuredevops-plain"
        },
        {
          "alias": "altText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "AzureDevOps-icon"
        },
        {
          "alias": "technologyName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Azure DevOps"
        }
      ]
    },
    {
      "contentTypeKey": "373eae76-6815-45ad-b749-f6d1922cb76a",
      "key": "7b035597-fd5d-49e8-8693-4b95a8a6433b",
      "udi": null,
      "values": [
        {
          "alias": "backendOrFrontend",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Backend"
          ]
        },
        {
          "alias": "altText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "git-icon"
        },
        {
          "alias": "deviconName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "devicon-git-plain"
        },
        {
          "alias": "technologyName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Git"
        }
      ]
    },
    {
      "contentTypeKey": "373eae76-6815-45ad-b749-f6d1922cb76a",
      "key": "dd164560-a5b1-4da8-adba-2f995c9d50dd",
      "udi": null,
      "values": [
        {
          "alias": "backendOrFrontend",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Backend"
          ]
        },
        {
          "alias": "technologyName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Swagger"
        },
        {
          "alias": "altText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "swagger-icon"
        },
        {
          "alias": "deviconName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "devicon-swagger-plain"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "19f7fb6c-07d8-4e37-a1ba-f14f5b398eb2",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b26a46f5-ebf0-4cb4-820f-9287ddce13c4",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "48a6a04d-bcfd-4357-a9e7-efa809ef79de",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "5db6f8dd-bd42-490a-8090-139b65965dc1",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "77b15e7d-afe3-4aaf-8622-847209ea38c0",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "6e27da99-6018-423a-8b92-c4b01a9348b5",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b30c3b61-ee99-4cf8-b6b5-d7eb256d8b16",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "32ed86ba-9fc0-4c60-91a8-585896554446",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b6bb6c8d-781d-4b83-ae3f-075f290a3382",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "55d54ebf-a25c-44de-8e6e-04bb75f810d9",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "faecb778-e2c2-4521-b98a-e95ce6daa866",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "fa4b852d-af75-4f90-91fa-6a8c5f5bc553",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7b035597-fd5d-49e8-8693-4b95a8a6433b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "dd164560-a5b1-4da8-adba-2f995c9d50dd",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "19f7fb6c-07d8-4e37-a1ba-f14f5b398eb2",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "b26a46f5-ebf0-4cb4-820f-9287ddce13c4",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "48a6a04d-bcfd-4357-a9e7-efa809ef79de",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "5db6f8dd-bd42-490a-8090-139b65965dc1",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "77b15e7d-afe3-4aaf-8622-847209ea38c0",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "6e27da99-6018-423a-8b92-c4b01a9348b5",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "b30c3b61-ee99-4cf8-b6b5-d7eb256d8b16",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "32ed86ba-9fc0-4c60-91a8-585896554446",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "b6bb6c8d-781d-4b83-ae3f-075f290a3382",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "55d54ebf-a25c-44de-8e6e-04bb75f810d9",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "faecb778-e2c2-4521-b98a-e95ce6daa866",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "fa4b852d-af75-4f90-91fa-6a8c5f5bc553",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "7b035597-fd5d-49e8-8693-4b95a8a6433b",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "dd164560-a5b1-4da8-adba-2f995c9d50dd",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </technologies>
  </Properties>
</Content>