<?xml version="1.0" encoding="utf-8"?>
<Content Key="b425e823-fcde-4b9f-88ed-50ae44a48f3c" Alias="Airport Attendant" Level="2">
  <Info>
    <Parent Key="4657057a-2d55-4597-87d5-4c09094b7320">Experiences</Parent>
    <Path>/Experiences/AirportAttendant</Path>
    <Trashed>false</Trashed>
    <ContentType>experience</ContentType>
    <CreateDate>2025-08-20T14:24:49</CreateDate>
    <NodeName Default="Airport Attendant" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <company>
      <Value><![CDATA[Civil Aviation Administration]]></Value>
    </company>
    <image>
      <Value><![CDATA[[
  {
    "key": "f464c225-1a40-4a2c-8762-7d3955a86f51",
    "mediaKey": "9d0b4113-fc66-4adc-821d-4206e1a66af6",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <location>
      <Value><![CDATA[Stockholm Arlanda Airport]]></Value>
    </location>
    <responsibilities>
      <Value><![CDATA[Informant in the terminals during the initiation of new regulations: limitation of liquids in hand luggage
Assisting passengers with re-packing of luggage and checking-in
Organizing security check queues]]></Value>
    </responsibilities>
    <title>
      <Value><![CDATA[Airport Attendant]]></Value>
    </title>
    <years>
      <Value><![CDATA[2006-2007]]></Value>
    </years>
  </Properties>
</Content>