<?xml version="1.0" encoding="utf-8"?>
<Content Key="0bed43f9-1b37-4692-85af-6107a167e931" Alias="Audial Atlas" Level="2">
  <Info>
    <Parent Key="517dcc45-4ed1-4a1f-8c61-4fc5d8dcadfb">Projects</Parent>
    <Path>/Projects/AudialAtlas</Path>
    <Trashed>false</Trashed>
    <ContentType>project</ContentType>
    <CreateDate>2025-08-21T21:16:34</CreateDate>
    <NodeName Default="Audial Atlas" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[This is a group project and a school assignment to develop a music API. We had tons of fun developing this and it gave us all new insights of API Development in general.

We followed the design of repository pattern, with focus on the concept of IoC. We have repositories that fetches data from the database, and sends it to our Handlers. Our Handlers then give an IResult based on result back to endpoint.

We use DTOs to send data via calls, and ViewModels to return limited designed data back.]]></Value>
    </description>
    <image>
      <Value><![CDATA[[
  {
    "key": "ff6801c9-ffd2-4115-b743-1db40d55bc1c",
    "mediaKey": "84d6b351-3dc9-4697-942f-e7a9272e4f1a",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <projectUrl>
      <Value><![CDATA[[
  {
    "name": "AudialAtlasService",
    "target": "_blank",
    "udi": null,
    "url": "https://github.com/filip-io/AudialAtlasService",
    "queryString": null
  }
]]]></Value>
    </projectUrl>
    <subTitle>
      <Value><![CDATA[Music API with restful architecture]]></Value>
    </subTitle>
    <title>
      <Value><![CDATA[Audial Atlas]]></Value>
    </title>
  </Properties>
</Content>