<?xml version="1.0" encoding="utf-8"?>
<Content Key="b7d398db-3eb3-48d4-a830-92be0b7ace2f" Alias="BankNyBank" Level="2">
  <Info>
    <Parent Key="517dcc45-4ed1-4a1f-8c61-4fc5d8dcadfb">Projects</Parent>
    <Path>/Projects/BankNyBank</Path>
    <Trashed>false</Trashed>
    <ContentType>project</ContentType>
    <CreateDate>2025-08-21T21:17:47</CreateDate>
    <NodeName Default="BankNyBank" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[BankNyBank (BankNewBank) is a console app built with C# that emulates a simple bank-app/ATM.

The program was a school group project.]]></Value>
    </description>
    <image>
      <Value><![CDATA[[
  {
    "key": "8c816b9e-440b-4bb0-8e28-dd07731d290a",
    "mediaKey": "c559911e-7730-43ac-956c-e9c3b4c2b16a",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <projectUrl>
      <Value><![CDATA[[
  {
    "name": "BankNyBank",
    "target": "_blank",
    "udi": null,
    "url": "https://github.com/filip-io/BankNyBank",
    "queryString": null
  }
]]]></Value>
    </projectUrl>
    <subTitle>
      <Value><![CDATA[Console application]]></Value>
    </subTitle>
    <title>
      <Value><![CDATA[BankNyBank]]></Value>
    </title>
  </Properties>
</Content>