<?xml version="1.0" encoding="utf-8"?>
<Content Key="00b6b185-b1e3-4bbc-a970-9cb2c565a305" Alias="Business Chinese" Level="2">
  <Info>
    <Parent Key="1be509d1-f9b1-40e8-a253-4c8e88cb0c3b">Educations</Parent>
    <Path>/Educations/BusinessChinese</Path>
    <Trashed>false</Trashed>
    <ContentType>education</ContentType>
    <CreateDate>2025-08-20T14:16:53</CreateDate>
    <NodeName Default="Business Chinese" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Chinese studies with business focus

]]></Value>
    </description>
    <image>
      <Value><![CDATA[[
  {
    "key": "a1409820-3205-466c-901a-688d96af0223",
    "mediaKey": "82cb55bf-49c7-4fe1-9b88-53c1bf82a293",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <location>
      <Value><![CDATA[Falun]]></Value>
    </location>
    <school>
      <Value><![CDATA[Dalarna University]]></Value>
    </school>
    <title>
      <Value><![CDATA[Business Chinese]]></Value>
    </title>
    <years>
      <Value><![CDATA[2009]]></Value>
    </years>
  </Properties>
</Content>