<?xml version="1.0" encoding="utf-8"?>
<Content Key="79637fd8-b2b5-403a-beb9-de92a0d6cff1" Alias="Chinese" Level="2">
  <Info>
    <Parent Key="1be509d1-f9b1-40e8-a253-4c8e88cb0c3b">Educations</Parent>
    <Path>/Educations/Chinese</Path>
    <Trashed>false</Trashed>
    <ContentType>education</ContentType>
    <CreateDate>2025-08-20T14:17:17</CreateDate>
    <NodeName Default="Chinese" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Chinese studies

]]></Value>
    </description>
    <image>
      <Value><![CDATA[[
  {
    "key": "8fdcb096-d94b-402e-96ff-a2b479351b4b",
    "mediaKey": "cb84fb06-73f9-4b30-bcc7-d95665ce0164",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <location>
      <Value><![CDATA[Stockholm]]></Value>
    </location>
    <school>
      <Value><![CDATA[Stockholm University]]></Value>
    </school>
    <title>
      <Value><![CDATA[Chinese]]></Value>
    </title>
    <years>
      <Value><![CDATA[2007-2008]]></Value>
    </years>
  </Properties>
</Content>