<?xml version="1.0" encoding="utf-8"?>
<Content Key="0a8fb848-082a-418d-9c32-f1191e188966" Alias="DevCore AB" Level="2">
  <Info>
    <Parent Key="4657057a-2d55-4597-87d5-4c09094b7320">Experiences</Parent>
    <Path>/Experiences/DevCoreAB</Path>
    <Trashed>false</Trashed>
    <ContentType>experience</ContentType>
    <CreateDate>2025-08-19T16:24:16</CreateDate>
    <NodeName Default="DevCore AB" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <company>
      <Value><![CDATA[DevCore AB]]></Value>
    </company>
    <image>
      <Value><![CDATA[[
  {
    "key": "3ea5c33a-f450-45c9-a8a0-95ae2a95f518",
    "mediaKey": "b2df4ef2-c0a1-49b3-a147-07d32c377456",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <location>
      <Value><![CDATA[Stockholm]]></Value>
    </location>
    <responsibilities>
      <Value><![CDATA[Leveraged several Microsoft technologies to develop solutions for customer needs
Microsoft .NET
React (TypeScript)
Power Platform:
Dynamics 365
Power Automate
Power Apps
Dataverse
Azure]]></Value>
    </responsibilities>
    <title>
      <Value><![CDATA[Full-stack .NET Developer - Intern]]></Value>
    </title>
    <years>
      <Value><![CDATA[2024-2025]]></Value>
    </years>
  </Properties>
</Content>