<?xml version="1.0" encoding="utf-8"?>
<Content Key="1be509d1-f9b1-40e8-a253-4c8e88cb0c3b" Alias="Educations" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Educations</Path>
    <Trashed>false</Trashed>
    <ContentType>educations</ContentType>
    <CreateDate>2025-08-19T16:44:03</CreateDate>
    <NodeName Default="Educations" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>