<?xml version="1.0" encoding="utf-8"?>
<Content Key="4657057a-2d55-4597-87d5-4c09094b7320" Alias="Experiences" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Experiences</Path>
    <Trashed>false</Trashed>
    <ContentType>experiences</ContentType>
    <CreateDate>2025-08-19T16:22:35</CreateDate>
    <NodeName Default="Experiences" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>