<?xml version="1.0" encoding="utf-8"?>
<Content Key="735b2824-2727-4bd4-a034-7e97a2931bc0" Alias="Fantasy Chass" Level="2">
  <Info>
    <Parent Key="517dcc45-4ed1-4a1f-8c61-4fc5d8dcadfb">Projects</Parent>
    <Path>/Projects/FantasyChass</Path>
    <Trashed>false</Trashed>
    <ContentType>project</ContentType>
    <CreateDate>2025-08-21T21:15:23</CreateDate>
    <NodeName Default="Fantasy Chass" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[In this project I collaborated with several other teams to create an innovative and engaging product. Fantasy Chass is a roleplaying game powered by AI, offering unique scenarios tailored by an AI game master.

The backend was developed by my team, which uses .NET with Identity for secure and efficient user authentication. ChatGPT and DALL-E are integrated for dynamic storytelling and stunning visuals.

The frontend team used React and Vite to ensure a modern, fast, and interactive interface. UX designers crafted interfaces and the DevOps team facilitated smooth deployment and maintenance.]]></Value>
    </description>
    <image>
      <Value><![CDATA[[
  {
    "key": "cc2b2638-a467-4f72-8860-8242e310e593",
    "mediaKey": "d389bca5-b545-4cfc-89e1-3191e1da8dcc",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <projectUrl>
      <Value><![CDATA[[
  {
    "name": "Fantasy Chass",
    "target": "_blank",
    "udi": null,
    "url": "https://github.com/filip-io/FantasyChas-Backend.git",
    "queryString": null
  }
]]]></Value>
    </projectUrl>
    <subTitle>
      <Value><![CDATA[AI-powered roleplaying game]]></Value>
    </subTitle>
    <title>
      <Value><![CDATA[Fantasy Chass]]></Value>
    </title>
  </Properties>
</Content>