<?xml version="1.0" encoding="utf-8"?>
<Content Key="446e4599-f922-4116-abb9-804afab3e5e0" Alias="Full-Stack .NET Developer" Level="2">
  <Info>
    <Parent Key="1be509d1-f9b1-40e8-a253-4c8e88cb0c3b">Educations</Parent>
    <Path>/Educations/FullStackNETDeveloper</Path>
    <Trashed>false</Trashed>
    <ContentType>education</ContentType>
    <CreateDate>2025-08-19T16:45:15</CreateDate>
    <NodeName Default="Full-Stack .NET Developer" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Comprehensive .NET training program encompassing everything from frontend development with JavaScript and major JavaScript frameworks to backend application development and database management

Expertise across the full spectrum of web development

Internship to obtain practical working experience]]></Value>
    </description>
    <image>
      <Value><![CDATA[[
  {
    "key": "c3f148b8-8ab5-4e8b-bd9a-b318a08663eb",
    "mediaKey": "dba04e8e-6890-4bcf-931d-aa8231f17706",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <location>
      <Value><![CDATA[Stockholm]]></Value>
    </location>
    <school>
      <Value><![CDATA[Chas Academy]]></Value>
    </school>
    <title>
      <Value><![CDATA[Full-Stack .NET Developer]]></Value>
    </title>
    <years>
      <Value><![CDATA[2023-2025]]></Value>
    </years>
  </Properties>
</Content>