<?xml version="1.0" encoding="utf-8"?>
<Content Key="a74b7f3e-4d18-47e3-a4b3-621df97102e5" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2025-08-19T17:01:11</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <subTitle>
      <Value><![CDATA[Full-stack .NET Developer]]></Value>
    </subTitle>
    <title>
      <Value><![CDATA[Hi, I'm Filip Nilsson]]></Value>
    </title>
  </Properties>
</Content>