<?xml version="1.0" encoding="utf-8"?>
<Content Key="873b049f-d2c9-4780-9976-0412f9c642b2" Alias="Interests API" Level="2">
  <Info>
    <Parent Key="517dcc45-4ed1-4a1f-8c61-4fc5d8dcadfb">Projects</Parent>
    <Path>/Projects/InterestsAPI</Path>
    <Trashed>false</Trashed>
    <ContentType>project</ContentType>
    <CreateDate>2025-08-21T21:17:21</CreateDate>
    <NodeName Default="Interests API" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[This was my first API. It's built using ASP.NET Core with Minimal API, implementing RESTful architecture.

The API is managing viewing and storing people, their interests and corresponding links using HTTP verbs.]]></Value>
    </description>
    <image>
      <Value><![CDATA[[
  {
    "key": "7293c0c6-1e97-4459-91b2-ed41f9dc9bff",
    "mediaKey": "ecc1e2b6-ac2e-4ef7-a087-3cb13cfe030b",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <projectUrl>
      <Value><![CDATA[[
  {
    "name": "Interests API",
    "target": "_blank",
    "udi": null,
    "url": "https://github.com/filip-io/Mini_project-API",
    "queryString": null
  }
]]]></Value>
    </projectUrl>
    <subTitle>
      <Value><![CDATA[Minimal API with restful architecture]]></Value>
    </subTitle>
    <title>
      <Value><![CDATA[Interests API]]></Value>
    </title>
  </Properties>
</Content>