<?xml version="1.0" encoding="utf-8"?>
<Content Key="9a70a909-9544-4114-af9a-231ecde25d89" Alias="Internship InternChina" Level="2">
  <Info>
    <Parent Key="4657057a-2d55-4597-87d5-4c09094b7320">Experiences</Parent>
    <Path>/Experiences/InternshipInternChina</Path>
    <Trashed>false</Trashed>
    <ContentType>experience</ContentType>
    <CreateDate>2025-08-20T14:23:14</CreateDate>
    <NodeName Default="Internship InternChina" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <company>
      <Value><![CDATA[InternChina]]></Value>
    </company>
    <image>
      <Value><![CDATA[[
  {
    "key": "227de1c8-8e90-4fc6-9c8f-e0976bc6d8de",
    "mediaKey": "e18f84a3-47e5-44ac-8297-8517a1d8ddf9",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <location>
      <Value><![CDATA[Qingdao, China]]></Value>
    </location>
    <responsibilities>
      <Value><![CDATA[Re-design of company homepage
Content management
Sales pitch by email
Re-organization of company database of major Swedish customers
Compilation of letters to introduce the company to new potential partners in Sweden
The company is now known as: Pagoda Projects]]></Value>
    </responsibilities>
    <title>
      <Value><![CDATA[Internship]]></Value>
    </title>
    <years>
      <Value><![CDATA[2010]]></Value>
    </years>
  </Properties>
</Content>