<?xml version="1.0" encoding="utf-8"?>
<Content Key="26dafacf-c4cb-4fc8-ac76-cb358b191a4b" Alias="International purchaser" Level="2">
  <Info>
    <Parent Key="1be509d1-f9b1-40e8-a253-4c8e88cb0c3b">Educations</Parent>
    <Path>/Educations/InternationalPurchaser</Path>
    <Trashed>false</Trashed>
    <ContentType>education</ContentType>
    <CreateDate>2025-08-19T16:46:49</CreateDate>
    <NodeName Default="International purchaser" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Focus on practical competence in purchasing

Internships to obtain practical working experience]]></Value>
    </description>
    <image>
      <Value><![CDATA[[
  {
    "key": "1372f2a7-c4d9-4ed8-aa14-74a689aaefda",
    "mediaKey": "874c564f-3f75-4d5f-9cfc-b1ea603c6808",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <location>
      <Value><![CDATA[Stockholm]]></Value>
    </location>
    <school>
      <Value><![CDATA[Stockholm International Business School]]></Value>
    </school>
    <title>
      <Value><![CDATA[International purchaser]]></Value>
    </title>
    <years>
      <Value><![CDATA[2010-2012]]></Value>
    </years>
  </Properties>
</Content>