<?xml version="1.0" encoding="utf-8"?>
<Content Key="7ef3f42d-3e4a-47a3-a032-e312709dfee8" Alias="Internship Bosch Siemens" Level="2">
  <Info>
    <Parent Key="4657057a-2d55-4597-87d5-4c09094b7320">Experiences</Parent>
    <Path>/Experiences/InternshipBoschSiemens</Path>
    <Trashed>false</Trashed>
    <ContentType>experience</ContentType>
    <CreateDate>2025-08-20T14:20:44</CreateDate>
    <NodeName Default="Internship Bosch Siemens" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <company>
      <Value><![CDATA[B/S/H/ AB - Planning and Distribution]]></Value>
    </company>
    <image>
      <Value><![CDATA[[
  {
    "key": "682f0460-b7d6-4a68-b796-ce449e28e865",
    "mediaKey": "f7072999-19ac-4bff-b5e0-6814aa91cd36",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <location>
      <Value><![CDATA[Solna]]></Value>
    </location>
    <responsibilities>
      <Value><![CDATA[Responsible for the Gaggenau brand
Work in SAP
Daily contact with colleagues in Europe to allocate products to different storage sites]]></Value>
    </responsibilities>
    <title>
      <Value><![CDATA[Internship]]></Value>
    </title>
    <years>
      <Value><![CDATA[2011-2012]]></Value>
    </years>
  </Properties>
</Content>