<?xml version="1.0" encoding="utf-8"?>
<Content Key="a163318f-327b-4281-9234-8d19318a0a1d" Alias="Portfolio site Umbraco React" Level="2">
  <Info>
    <Parent Key="517dcc45-4ed1-4a1f-8c61-4fc5d8dcadfb">Projects</Parent>
    <Path>/Projects/PortfolioSiteUmbracoReact</Path>
    <Trashed>false</Trashed>
    <ContentType>project</ContentType>
    <CreateDate>2025-08-21T22:02:44</CreateDate>
    <NodeName Default="Portfolio site Umbraco React" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[In this project I made an alternate version of my original portfolio. I utilized the headless capabilities of Umbraco's Content Delivery API to retrieve all my content items in JSON format, which allowed me to present them using a React frontend.

I learned how to manage the data structures and map them to React components in a way that kept the frontend flexible and easy to update. I also gained further experience working with APIs, handling asynchronous data fetching, and ensuring the site remained performant while pulling content dynamically.

Overall, this project improved my skills in integrating a CMS with a modern frontend framework, taught me how to think in terms of content modeling, and gave me hands-on experience with building a more maintainable portfolio site.
]]></Value>
    </description>
    <image>
      <Value><![CDATA[[
  {
    "key": "a87f6e3f-9767-4b39-bec3-163c895235e1",
    "mediaKey": "6400af3c-7b3b-41e7-a12b-9be4cf2d0f80",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <projectUrl>
      <Value><![CDATA[]]></Value>
    </projectUrl>
    <subTitle>
      <Value><![CDATA[Personal website]]></Value>
    </subTitle>
    <title>
      <Value><![CDATA[Portfolio site]]></Value>
    </title>
  </Properties>
</Content>