<?xml version="1.0" encoding="utf-8"?>
<Content Key="518b4738-42e9-41f0-9043-808458ecacf0" Alias="Portfolio site React" Level="2">
  <Info>
    <Parent Key="517dcc45-4ed1-4a1f-8c61-4fc5d8dcadfb">Projects</Parent>
    <Path>/Projects/PortfolioSiteReact</Path>
    <Trashed>false</Trashed>
    <ContentType>project</ContentType>
    <CreateDate>2025-08-21T21:16:09</CreateDate>
    <NodeName Default="Portfolio site React" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[In this project I learned how to build my own portfolio (the very site you are visiting right now) using React Vite which provided a fast and efficient development environment.

I utilized React to build the user interface components and Vite for bundling and serving the application during development.

The project showcases the integration of state management, routing and responsive design.]]></Value>
    </description>
    <image>
      <Value><![CDATA[[
  {
    "key": "4ed79190-1bfd-487f-8851-0b1edf550859",
    "mediaKey": "38eea606-5ee0-49db-a371-351ce471be38",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <projectUrl>
      <Value><![CDATA[[
  {
    "name": "React Vite project",
    "target": "_blank",
    "udi": null,
    "url": "https://github.com/filip-io/Portfolio-react",
    "queryString": null
  }
]]]></Value>
    </projectUrl>
    <subTitle>
      <Value><![CDATA[Personal website]]></Value>
    </subTitle>
    <title>
      <Value><![CDATA[Portfolio site]]></Value>
    </title>
  </Properties>
</Content>