<?xml version="1.0" encoding="utf-8"?>
<Content Key="ffb4676c-47a5-4e54-862d-cd4cc652f401" Alias="ProductSync" Level="2">
  <Info>
    <Parent Key="517dcc45-4ed1-4a1f-8c61-4fc5d8dcadfb">Projects</Parent>
    <Path>/Projects/ProductSync</Path>
    <Trashed>false</Trashed>
    <ContentType>project</ContentType>
    <CreateDate>2025-08-21T16:07:55</CreateDate>
    <NodeName Default="ProductSync" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[A serverless Azure solution that automates product data transfer from Excel to Microsoft Dataverse (the backend for Dynamics 365).

The project addressed challenges related to integrating asynchronous, event-driven workflows into enterprise environments, with an emphasis on scalability, maintainability, and usability for sales operations.

Demonstrates how serverless Azure components can transform legacy data flows into resilient, cost-effective workflows — with potential applications across enterprise systems.]]></Value>
    </description>
    <image>
      <Value><![CDATA[[
  {
    "key": "958ceb84-c284-45d5-97d7-294295a1e7fc",
    "mediaKey": "30241b00-c48a-4d9d-b174-d4b12e2aea35",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <projectUrl>
      <Value><![CDATA[[
  {
    "name": "ProductSync project",
    "target": "_blank",
    "udi": null,
    "url": "http://www.linkedin.com/in/filipnilsson-link/details/projects/",
    "queryString": null
  }
]]]></Value>
    </projectUrl>
    <subTitle>
      <Value><![CDATA[Scalable Data Integration with Azure]]></Value>
    </subTitle>
    <title>
      <Value><![CDATA[ProductSync]]></Value>
    </title>
  </Properties>
</Content>