<?xml version="1.0" encoding="utf-8"?>
<Content Key="d2d88eb3-2858-4863-8427-5696412ab579" Alias="Purchasing assistant" Level="2">
  <Info>
    <Parent Key="4657057a-2d55-4597-87d5-4c09094b7320">Experiences</Parent>
    <Path>/Experiences/PurchasingAssistant</Path>
    <Trashed>false</Trashed>
    <ContentType>experience</ContentType>
    <CreateDate>2025-08-20T14:19:48</CreateDate>
    <NodeName Default="Purchasing assistant" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <company>
      <Value><![CDATA[Inet AB - SCM]]></Value>
    </company>
    <image>
      <Value><![CDATA[[
  {
    "key": "2c03a8ae-818a-49be-b860-d95f00e051f2",
    "mediaKey": "0e6cded0-0889-40ee-89ff-97573f85f8c7",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <location>
      <Value><![CDATA[Gothenburg]]></Value>
    </location>
    <responsibilities>
      <Value><![CDATA[Assistant to all purchasers
Verification and ordering of custom-made computers
Ordering of special products
Adding new products to the company's database using Scala ERP]]></Value>
    </responsibilities>
    <title>
      <Value><![CDATA[Purchasing assistant]]></Value>
    </title>
    <years>
      <Value><![CDATA[2012-2013]]></Value>
    </years>
  </Properties>
</Content>