<?xml version="1.0" encoding="utf-8"?>
<Content Key="93cc8e9b-e481-4992-9b78-28d03228927e" Alias="Sales Assistant" Level="2">
  <Info>
    <Parent Key="4657057a-2d55-4597-87d5-4c09094b7320">Experiences</Parent>
    <Path>/Experiences/SalesAssistant</Path>
    <Trashed>false</Trashed>
    <ContentType>experience</ContentType>
    <CreateDate>2025-08-20T14:19:19</CreateDate>
    <NodeName Default="Sales Assistant" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <company>
      <Value><![CDATA[Siemens AB - Digital Industries]]></Value>
    </company>
    <image>
      <Value><![CDATA[[
  {
    "key": "f7aa77fd-bf7c-4464-825e-fc4e680ae79f",
    "mediaKey": "2fdb2298-4cbe-495e-a427-45ab21fcd20e",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <location>
      <Value><![CDATA[Stockholm]]></Value>
    </location>
    <responsibilities>
      <Value><![CDATA[Assistant to Regional Sales Manager and the entire sales team at Digital Industries division in Sweden
Responsible for adding and maintaining customer data in the customer database
Planning and booking of team events
Purchasing of indirect materials to the sales team in Sweden]]></Value>
    </responsibilities>
    <title>
      <Value><![CDATA[Sales Assistant]]></Value>
    </title>
    <years>
      <Value><![CDATA[2014]]></Value>
    </years>
  </Properties>
</Content>