<?xml version="1.0" encoding="utf-8"?>
<Content Key="0ccf8176-e96a-48b3-a2b6-545d00641db9" Alias="Sales Support" Level="2">
  <Info>
    <Parent Key="4657057a-2d55-4597-87d5-4c09094b7320">Experiences</Parent>
    <Path>/Experiences/SalesSupport</Path>
    <Trashed>false</Trashed>
    <ContentType>experience</ContentType>
    <CreateDate>2025-08-20T14:18:40</CreateDate>
    <NodeName Default="Sales Support" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <company>
      <Value><![CDATA[Siemens AB - Digital Industries]]></Value>
    </company>
    <image>
      <Value><![CDATA[[
  {
    "key": "febfd64c-7c35-4e5b-bec6-14824fb10f7a",
    "mediaKey": "2fdb2298-4cbe-495e-a427-45ab21fcd20e",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <location>
      <Value><![CDATA[Stockholm]]></Value>
    </location>
    <responsibilities>
      <Value><![CDATA[Quotes of varying size for big and small businesses in the industry sector
Technical support and other questions regarding Siemens product portfolio
Responsible for adding and maintaining customer data in the customer database
Purchasing of indirect materials to the sales team in Sweden]]></Value>
    </responsibilities>
    <title>
      <Value><![CDATA[Sales Support]]></Value>
    </title>
    <years>
      <Value><![CDATA[2014-2016]]></Value>
    </years>
  </Properties>
</Content>