<?xml version="1.0" encoding="utf-8"?>
<Content Key="6f428ba5-4f4e-4a49-8e36-1aef62537442" Alias="Service Consultant" Level="2">
  <Info>
    <Parent Key="4657057a-2d55-4597-87d5-4c09094b7320">Experiences</Parent>
    <Path>/Experiences/ServiceConsultant</Path>
    <Trashed>false</Trashed>
    <ContentType>experience</ContentType>
    <CreateDate>2025-08-20T14:24:22</CreateDate>
    <NodeName Default="Service Consultant" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <company>
      <Value><![CDATA[Candy King]]></Value>
    </company>
    <image>
      <Value><![CDATA[[
  {
    "key": "e5e436d6-be80-489d-94cb-8d4935072500",
    "mediaKey": "3b5e9152-4107-4782-a188-fffaabd2ea26",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <location>
      <Value><![CDATA[Stockholm]]></Value>
    </location>
    <responsibilities>
      <Value><![CDATA[Ordering of candy to supermarkets
Responsible for maintenance of candy sections in several supermarkets in the Stockholm Area]]></Value>
    </responsibilities>
    <title>
      <Value><![CDATA[Candy King]]></Value>
    </title>
    <years>
      <Value><![CDATA[2007]]></Value>
    </years>
  </Properties>
</Content>