<?xml version="1.0" encoding="utf-8"?>
<Content Key="5dc85128-fd53-4227-a119-ab6720013a31" Alias="Siemens SCM Nordics" Level="2">
  <Info>
    <Parent Key="517dcc45-4ed1-4a1f-8c61-4fc5d8dcadfb">Projects</Parent>
    <Path>/Projects/SiemensSCMNordics</Path>
    <Trashed>false</Trashed>
    <ContentType>project</ContentType>
    <CreateDate>2025-08-21T21:20:04</CreateDate>
    <NodeName Default="Siemens SCM Nordics" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[In a previous role at Siemens I managed the migration from an old wiki-based platform to Microsoft SharePoint.

The project included collaboration with colleagues in the Siemens SCM (Supply Chain Management) Nordics team to be able to restructure the content and defining the layout.]]></Value>
    </description>
    <image>
      <Value><![CDATA[[
  {
    "key": "959a31a1-7f22-4188-bfa0-9db8c42f5b85",
    "mediaKey": "a4339410-0245-4868-806a-25c7a1e9e4c2",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <projectUrl>
      <Value><![CDATA[[
  {
    "name": "Show gallery",
    "target": null,
    "udi": null,
    "url": "/#siemensgallery",
    "queryString": null
  }
]]]></Value>
    </projectUrl>
    <subTitle>
      <Value><![CDATA[Layout and structure of new site]]></Value>
    </subTitle>
    <title>
      <Value><![CDATA[Siemens SCM Nordics]]></Value>
    </title>
  </Properties>
</Content>