<?xml version="1.0" encoding="utf-8"?>
<Content Key="97b6dde3-4de2-4b1b-918f-15ad4e8c234c" Alias="Tactical Purchaser" Level="2">
  <Info>
    <Parent Key="4657057a-2d55-4597-87d5-4c09094b7320">Experiences</Parent>
    <Path>/Experiences/TacticalPurchaser</Path>
    <Trashed>false</Trashed>
    <ContentType>experience</ContentType>
    <CreateDate>2025-08-19T16:48:58</CreateDate>
    <NodeName Default="Tactical Purchaser" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <company>
      <Value><![CDATA[Siemens AB - SCM Nordics]]></Value>
    </company>
    <image>
      <Value><![CDATA[[
  {
    "key": "34c39b66-77ab-4199-b0a7-6f9513730009",
    "mediaKey": "2fdb2298-4cbe-495e-a427-45ab21fcd20e",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <location>
      <Value><![CDATA[Stockholm]]></Value>
    </location>
    <responsibilities>
      <Value><![CDATA[Focus on improving processes, contracts, supplier relations, and customer satisfaction
Personal protection equipment
Tools and components
Calibration services
Office supplies
Merchandising products
Recycling
Print and digital products
Archiving]]></Value>
    </responsibilities>
    <title>
      <Value><![CDATA[Tactical Purchaser]]></Value>
    </title>
    <years>
      <Value><![CDATA[2016-2024]]></Value>
    </years>
  </Properties>
</Content>