<?xml version="1.0" encoding="utf-8"?>
<DataType Key="59117176-2b1c-46de-9a79-1bd6f50767b7" Alias="Block List Property Editor UI - Technologies " Level="2">
  <Info>
    <Name>Block List Property Editor UI - Technologies </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "373eae76-6815-45ad-b749-f6d1922cb76a",
      "label": "{=technologyName}",
      "backgroundColor": "#da4b2f",
      "editorSize": "medium"
    }
  ],
  "useInlineEditingAsDefault": true,
  "useLiveEditing": true
}]]></Config>
</DataType>