<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f38f0ac7-1d27-439c-9f3f-089cd8825a53" Alias="Dropdown multiple - Frontend or Backend" Level="2">
  <Info>
    <Name>Dropdown multiple - Frontend or Backend</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Frontend",
    "Backend"
  ],
  "multiple": false
}]]></Config>
</DataType>