<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4dbf92e8-2cf0-4b90-b8e0-dc7edf806427" Alias="Experience - Responsibilities - Multiple Text String Property Editor UI" Level="2">
  <Info>
    <Name>Experience - Responsibilities - Multiple Text String Property Editor UI</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 0
}]]></Config>
</DataType>