<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ef72c70e-5f59-4d84-b8e9-76bb3f8f040f" Alias="Multiple Text String Property Editor UI - Frontend Technologies" Level="2">
  <Info>
    <Name>Multiple Text String Property Editor UI - Frontend Technologies</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 0
}]]></Config>
</DataType>