<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2cdffedb-17b4-43df-a62b-88e2d6af9d7a" Alias="Multiple Text String Property Editor UI - Backend Technologies" Level="2">
  <Info>
    <Name>Multiple Text String Property Editor UI - Backend Technologies</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 0
}]]></Config>
</DataType>