<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
	<PropertyGroup>
		<PublishProtocol>FileSystem</PublishProtocol>
		<Configuration>Release</Configuration>
		<PublishDir>$(OutputPath)publish\</PublishDir>
		<Platform>AnyCPU</Platform>
		<TargetFramework>net9.0</TargetFramework>
		<PublishSingleFile>false</PublishSingleFile>
		<PublishReadyToRun>false</PublishReadyToRun>
		<SelfContained>false</SelfContained>
		<ExcludeApp_Data>false</ExcludeApp_Data>
		<NoBuild>false</NoBuild>
		<_TargetManifestFiles>false</_TargetManifestFiles>
		<DeleteExistingFiles>true</DeleteExistingFiles>
		<DefaultItemExcludes>$(DefaultItemExcludes);.git/**;.vs/**;.vscode/**</DefaultItemExcludes>
	</PropertyGroup>
</Project>
