<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ca34c9f0-6121-4dda-a5df-6a349f9f1ab9" Alias="about" Level="2">
  <Info>
    <Name>About Container</Name>
    <Icon>icon-coffee color-brown</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>About</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="3a804ee4-3e83-46e8-8932-d2cf1302ce67" SortOrder="0">aboutSection</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>