<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f5aeeb1d-f69e-41f0-873f-62e82818678e" Alias="educations" Level="2">
  <Info>
    <Name>Education Container</Name>
    <Icon>icon-book color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>c0808dd3-8133-4e4b-8ce8-e2bea84a96a4</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Education</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="ae9bffa5-a93f-4688-bbb7-ebc9f34656c9" SortOrder="0">education</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>