<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="11a63563-2021-41ed-bb98-aacc56ad184f" Alias="experiences" Level="2">
  <Info>
    <Name>Experiences Container</Name>
    <Icon>icon-hammer color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>c0808dd3-8133-4e4b-8ce8-e2bea84a96a4</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Experience</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="a42f6f63-8a02-4295-980f-08ed8a95ab9a" SortOrder="0">experience</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>