<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4631768b-9704-427a-a954-f11df2539c13" Alias="projects" Level="2">
  <Info>
    <Name>Projects Container</Name>
    <Icon>icon-network-alt color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>c0808dd3-8133-4e4b-8ce8-e2bea84a96a4</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Projects</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="ab671da2-ee6b-4a43-b4a6-8f3f27c91b82" SortOrder="0">project</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>